* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Play", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "forum", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

button {
  cursor: pointer;
}

nav {
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr 0.65fr 3.35fr;
      grid-template-columns: 5fr 6fr 0.65fr 3.35fr;
  font-family: "Play", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

nav a {
  color: black;
}

nav .nav-logo, nav ul, nav .nav-icons, nav .nav-buttons {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "forum", sans-serif;
  font-size: 40px;
  font-weight: normal;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

nav ul li {
  height: 100%;
}

nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid black;
}

nav ul li a:hover, nav ul li a:focus {
  color: white;
  background-color: black;
}

nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-left: 1px solid black;
}

nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-left: 1px solid black;
}

nav .nav-buttons a {
  border-bottom: 2px solid white;
  padding: 5px;
}

nav .nav-buttons a:hover, nav .nav-buttons a:focus {
  border-bottom: 2px solid black;
}

nav .hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  nav {
    height: 60px;
    -ms-grid-columns: 6fr (2fr)[2];
        grid-template-columns: 6fr repeat(2, 2fr);
    -ms-grid-rows: 60px 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr;
    border-bottom: 1px solid black;
  }
  nav .nav-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1rem;
    border: none;
  }
  nav ul {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
  }
  nav ul li {
    height: initial;
  }
  nav ul li a {
    border: none;
    margin: 0.5rem;
    font-family: "forum", sans-serif;
    font-size: 28px;
  }
  nav .nav-icons {
    border: none;
  }
  nav .nav-buttons {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 0;
    overflow: hidden;
    background-color: white;
    border: none;
  }
  nav .nav-buttons a {
    font-family: "Play", sans-serif;
    font-size: 1rem;
    text-transform: initial;
    padding: 0.75rem;
    margin: 5px;
    border: 2px solid white;
  }
  nav .hamburger {
    height: 40%;
    width: 1.45rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .hamburger .line {
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .nav-open ul {
    height: 261.6px;
    padding: 3.75rem 1rem;
    background-color: black;
  }
  .nav-open ul li a {
    color: white;
  }
  .nav-open .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  .nav-open .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
  .nav-open .line:nth-child(2) {
    opacity: 0;
  }
  .nav-open .nav-buttons {
    height: calc(100vh - 261.6px - 60px);
    background-color: black;
  }
  .nav-open .nav-buttons a {
    color: black;
    background-color: white;
    border-color: black;
  }
}

@media screen and (min-width: 540px) and (max-width: 1000px) {
  nav {
    -ms-grid-columns: 8fr (1fr)[2];
        grid-template-columns: 8fr repeat(2, 1fr);
  }
}

.main-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.85rem;
  padding: 2rem;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 400px) {
  .main-heading {
    font-size: 2.85rem;
    padding: 1.25rem;
  }
}

#blog1 {
  background: url("../images/blog1.jpg") no-repeat center center/cover;
}

#blog2 {
  background: url("../images/blog2.jpg") no-repeat center center/cover;
}

#blog3 {
  background: url("../images/blog3.jpg") no-repeat center center/cover;
}

#blog4 {
  background: url("../images/blog4.jpg") no-repeat center center/cover;
}

#blog5 {
  background: url("../images/blog5.jpg") no-repeat center center/cover;
}

#blog6 {
  background: url("../images/blog6.jpg") no-repeat center center/cover;
}

#blog7 {
  background: url("../images/blog7.jpg") no-repeat center center/cover;
}

#blog8 {
  background: url("../images/blog8.jpg") no-repeat center center/cover;
}

#blog9 {
  background: url("../images/blog9.jpg") no-repeat center center/cover;
}

#blog10 {
  background: url("../images/blog10.jpg") no-repeat center center/cover;
}

#blog11 {
  background: url("../images/blog11.jpg") no-repeat center center/cover;
}

.blogs {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[3];
      grid-template-columns: repeat(3, 100%);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow-x: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blogs::-webkit-scrollbar {
  display: none;
}

.blogs .blogs-container {
  scroll-snap-align: start;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(320px, 420px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 420px));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 1rem;
}

.blogs .blogs-container .blog-card {
  height: 750px;
  color: black;
  border: 1px solid darkgray;
  border-top: none;
}

.blogs .blogs-container .blog-card:hover, .blogs .blogs-container .blog-card:focus {
  color: white;
  background-color: black;
}

.blogs .blogs-container .blog-card .card-img {
  height: 60%;
}

.blogs .blogs-container .blog-card .card-body {
  height: 40%;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr auto 4fr 1px 2fr;
      grid-template-rows: 1fr 1fr auto 4fr 1px 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs .blogs-container .blog-card .card-body .author, .blogs .blogs-container .blog-card .card-body .date {
  font-size: 14px;
}

.blogs .blogs-container .blog-card .card-body .date, .blogs .blogs-container .blog-card .card-body .content, .blogs .blogs-container .blog-card .card-body .views {
  color: gray;
}

.blogs .blogs-container .blog-card .card-body h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: .75rem 0;
  max-height: 4.5rem;
  overflow-y: hidden;
}

.blogs .blogs-container .blog-card .card-body .content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-height: 4.75rem;
  overflow-y: hidden;
}

.blogs .blogs-container .blog-card .card-body .line {
  background-color: gray;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .blogs .blogs-container {
    padding: 0;
  }
  .blogs .blogs-container .blog-card {
    border: none;
  }
}

.paginator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.paginator i {
  font-size: 12px;
}

.paginator i, .paginator a {
  cursor: pointer;
  margin: 1rem;
  padding: 7.5px;
  color: dimgray;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.paginator i:hover, .paginator i:focus, .paginator a:hover, .paginator a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.paginator a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.about {
  max-width: 1302px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 650px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 650px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.about .about-img {
  height: 650px;
  background: url("../images/about_home.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.about .about-content {
  width: 60%;
  margin: auto;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .about-content * {
  margin: 0.85rem 0;
}

.about .about-content h1 {
  font-size: 50px;
  text-transform: uppercase;
  width: 100%;
}

.about .about-content p {
  color: gray;
  line-height: 1.75rem;
}

.about .about-content a {
  font-family: "Play", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 1rem;
}

.about .about-content a:hover, .about .about-content a:focus {
  color: black;
  background-color: transparent;
}

@media screen and (max-width: 590px) {
  .about {
    border: none;
  }
  .about .about-img {
    background-attachment: fixed;
  }
  .about .about-content {
    width: 85%;
  }
  .about .about-content h1, .about .about-content p {
    text-align: center;
  }
  .about .about-content a {
    margin: 0.85rem auto;
  }
}

.heading {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding: 2.65rem;
  margin-top: 100px;
  border: 1px solid black;
}

@media screen and (max-width: 590px) {
  .heading {
    font-size: 2rem;
    padding: 2.65rem 0;
    margin-top: 0;
  }
}

#follow-card1 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/01.jpg") no-repeat center center/cover;
}

#follow-card2 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/02.jpg") no-repeat center center/cover;
}

#follow-card3 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/03.jpg") no-repeat center center/cover;
}

#follow-card4 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/04.jpg") no-repeat center center/cover;
}

#follow-card5 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/05.jpg") no-repeat center center/cover;
}

#follow-card6 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/06.jpg") no-repeat center center/cover;
}

#follow-card7 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/07.jpg") no-repeat center center/cover;
}

#follow-card8 {
  background: url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Fashion%20Blogger/08.jpg") no-repeat center center/cover;
}

.follow {
  width: 100%;
  overflow-x: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13rem)[8];
      grid-template-columns: repeat(8, 13rem);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 2rem;
}

.follow .card {
  width: 13rem;
  height: 13rem;
}
/*# sourceMappingURL=style.css.map */